{% include 'home.html' %}

<style>
    .table {
      width: 100%;
    }

    th, td {
      text-align: center;
      padding: 8px;
    }
  </style>
{% if message %}
<div class="card shadow-lg w-25 my-3">
    <div class="card-header">Jobs</div>
            <div>{{message}}</div>
</div>
{% else %}
<!-- <div class="px-3 mb-2">Latest Job Status : </div>
<div class="container align-items-center">
    <div class="card shadow-lg w-25 my-3">
        <div class="card-header">Data Scan Job Name</div>
            <div class="card-body">{{status.scan_job_name}}</div>
    </div>
    <div class="card shadow-lg w-25 my-3">
        <div class="card-header">Job start_time</div>
                <div class="card-body">{{status.start_time}}</div>
    </div>
    <div class="card shadow-lg w-25 my-3">
        <div class="card-header">Job end_time</div>
                <div>{{status.end_time}}</div>
    </div>
    <div class="card shadow-lg w-25 my-3">
        <div class="card-header">Job state</div>
                {% if status.state == 4 %}
                <div class=" card-body bg-success text-white">SUCCEEDED</div>
                {% else %}
                <div class="card-body bg-danger text-white">{{status.res}}</div>
                {% endif %}
        </div>
    
    </div>
</div> -->
<div class="px-3 mb-2">Last 5 Jobs run by <mark>{{request.user.username}}:</mark></div>
  <div class="container shadow-lg">
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <!-- <th>Project ID</th>
          <th>Location</th>
          <th>Dq Scan Name</th> -->
          <th>Job Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        {% for job in status.job_list %}
        <tr>
          <td>job 00{{ forloop.counter }}</td>
          <td>{{job.job_start_time}}</td>
          <td>{{job.job_end_time}}</td>
          <td>
            {% if job.job_status == 4 %}
            <span class="badge bg-success p-2">Success</span>
            
            {% elif job.job_status == 7 %}
            <span class="badge bg-secondary">Pending</span>

            {% elif job.job_status == 1 %}
            <span class="badge bg-warning text-white">Running</span>

            {%else%}
            <span class="badge bg-danger">Failed</span>
            {%endif%}
        </td>
          <td class="actions">
            <a href="https://console.cloud.google.com/dataplex/govern/quality?project={{project}}"><button type="button" class="btn btn-primary">View</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
{% endif %}

