{% include 'home.html' %}

{% if message %}
<div class="card shadow-lg w-25 my-3">
    <div class="card-header">Jobs</div>
            <div>{{message}}</div>
</div>
{% else %}

<div class="container align-items-center">
    <div class="card shadow-lg w-25 my-3">
        <div class="card-header">Data Scan Job Name</div>
            <div class="card-body">{{status.scan_job_name}}</div>
    </div>
    <div class="card shadow-lg w-25 my-3">
        <div class="card-header">Job start_time</div>
                <div class="card-body">{{status.start_time}}</div>
    </div>
    <div class="card shadow-lg w-25 my-3">
        <div class="card-header">Job end_time</div>
                <div>{{status.end_time}}</div>
    </div>
    <div class="card shadow-lg w-25 my-3">
        <div class="card-header">Job state</div>
                {% if status.state == 4 %}
                <div class=" card-body bg-success">SUCCEEDED</div>
                {% else %}
                <div class="card-body bg-danger">{{status.res}}</div>
                {% endif %}
        </div>
    
    </div>
</div>
<!-- <div>Last 5 Jobs run by {{request.user.username}}:</div><br>
{% for job in status.job_list %}
<ul class="list-group">
    <li class="list-group-item active" aria-current="true">{{ forloop.counter }}.Job Name: {{job.name}}</li>
    <li class="list-group-item">Job_start_time: {{job.job_start_time}}</li>
    <li class="list-group-item">Job_end_time: {{job.job_end_time}}</li>
    <li class="list-group-item">Job_status: {{job.job_status}}</li>
  </ul>
{% endfor %} -->


{% endif %}

